
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: lato;
}

.hero{
    background-image: url(../images/cow.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    margin-top: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 60px;
    word-spacing: 20px;
    letter-spacing: 4px;
}
.article{
    width: 80%;

    /* eikahe  margin er kahini ta ache */

    /* margin-left: auto;
    margin-right: auto; */
    /* margin: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    background-color: aqua;
    border-width: 15px;
    border-color: yellow;
    border-style: solid;
    padding: 30px;
}
.article h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 48px;

    border-style: solid;
    border-width: 5px;
    border-top: 0;
    /* border-bottom: 50px; */
    border-right: 0;
    border-left: 0;
    border-color: yellow;
    /* border-bottom: 2px; */
}